.article_list{
  width: 97%;outline: 1px solid $ccc;margin-left: 17px;
  tr{
    height: 45px;
    th{
      background-color: rgba($ccc,.9);height: 40px;outline: 1px solid $ccc;
      &:nth-child(1){width:100px;}
      &:nth-child(3){width:120px;}
      &:nth-child(4){width:100px;}
      &:nth-child(5){width:200px;}
    }
    th,td{border-right:1px solid $cdd;}
    td{
      text-align: center;
      &.operate{
        .look{background-color:$sblue; }
        .del{cursor: pointer;background-color: red; }
        .edit{background-color: green;}
        .look,.edit,.del{
          width:40px;height: 25px;line-height: 25px;margin-right: 10px;
          display: inline-block;color: $cff;border-radius: 5px;
        }
      }
    }
    &:nth-child(even){background-color:rgba($ccc,.5); }
    &:nth-child(odd){background-color:rgba($ccc,.3); }
  }
}
.article_edit{
  margin: 10px 0 0 15px;width: 40%;
}
// .kuan{
//   td{input{width: 300px;}}
// }
.detail{
  width: 82.5%;margin:20px 0 0 20px;border: 1px solid rgba($c00,.3);
  tr{
    height: 45px;border-bottom:1px solid rgba($c00,.1);
    th{width: 90px;background-color: $ccc;border-right:1px solid rgba($c00,.1); }
    td{padding-left: 20px;background-color: rgba($ccc,.3);}
  }
}
.channel{
  width: 96.5%;border: 1px solid $cdd;margin: 20px 20px 0 20px;
  tr{
    height: 45px;
    th{background-color:$ccc;height: 45px;}
    td{
      text-align: center;
      &.channel_operation{
        .channel_del,.channel_edit{
          color: $cff;display: inline-block;width: 40px;cursor: pointer;height: 25px;
          line-height: 25px;border-radius: 5px;
        }
        .channel_del{background-color: red;margin-left: 10px;}
        .channel_edit{background-color: green;}
      }
      &:nth-child(2){width: 200px;}
      &:nth-child(3){width: 240px;}
    }
    th,td{border: 1px solid $cdd;}
    &:nth-child(even){background-color:rgba($ccc,.5); }
    &:nth-child(odd){background-color:rgba($ccc,.3); }
  }
}
.channel_redact{
  margin: 20px 0 0 20px;
  tr{
    height: 45px;line-height: 45px;
    th{}
    td{
      display: inline-block;margin-left: 10px;
      input{
        padding: 5px 0;
        &:focus{outline: none;}
      }
    }
  }
}
.administrator{
  width: 96.5%;border: 1px solid $cdd;margin: 20px 20px 0 20px;
  tr{
    height: 45px;
    th{background-color:$ccc;height: 45px;}
    th,td{border: 1px solid $cdd;}
    td{
      height: 45px;text-align: center;
      &.admin_operation{
        .admin_edit,.admin_del{
          color: $cff;display: inline-block;width: 40px;cursor: pointer;height: 25px;
          line-height: 25px;border-radius: 5px;
        }
        .admin_del{background-color: red;margin-left: 10px;}
        .admin_edit{background-color: green;}
      }
      &:nth-child(1){width: 100px;}
      &:nth-child(3){width: 150px;}
      &:nth-child(4){width: 150px;}
    }
    &:nth-child(even){background-color:rgba($ccc,.5); }
    &:nth-child(odd){background-color:rgba($ccc,.3); }
  }
}
.manage_edit{
  margin: 20px 0 0 20px;
  tr{
    height: 45px;
    th{width: 70px;text-align: right;}
    td{
      input{
        display: block;margin-left: 10px;padding: 5px 0;text-indent: 10px;
        &:focus{outline: none;}
      }
    }
  }
}
//系统设置
.site{
  margin: 20px 0 0 20px;
  tr{
    height: 40px;
    th{
      width: 60px;text-align: right;
    }
    td{
      margin-left: 10px;display: inline-block;
      input{
        padding: 5px 0;width:300px;text-indent: 5px;
        &:focus{outline: none;}
      }
    }
  }

}
